<h1>Read and comment different posts</h1>

<form action="{% url 'blogs:logout_page' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="logout"/>
</form>
<h2>Current posts by all users (showing only latest 3 posts)</h2>
<ul>
    {% for post in blogs %}
    <li>
        <!-- Here is an example of XSS vulnerability caused by using safe keyword
         Removing the keyword fixes the problem --> 
        <div>{{post.blog_title |safe}}</div>
        <div>{{post.blog_content |safe}}</div>
        <a href="{% url 'blogs:blog_detail' post.id %}">view and add comments</a>
    </li>
    <br></br>
    {% endfor %}
</ul>
<h3>Create your own post</h3>
<form action="{% url 'blogs:blogs_page' %}" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="publish"/>
</form>